body,
nav,
header,
h1,
h2,
h3,
ul,
li,
section,
main,
figure,
img,
article,
p,
button,
footer {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

h1 {
    display: flex;
    font-size: 48px;
    margin-bottom: 10px;
}

header {
    background-color: #014f83;
    height: 100px;
    display:flex;
    align-items: center;
    color: antiquewhite;
}


header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
}

.list-items li a {
    color: antiquewhite;
}

header .menu {
    justify-content: space-between;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: large;
    display: block;
    background-color: #014f83;
    color: antiquewhite;
    text-align: center;
    border: none;
    border-radius: 13px;
    margin: 5px;
    height: 50px;
    width: 215px;
    cursor: pointer;
}

.texto-apresentacao h1 {
    color: #014f83;
}

.apresentacao .texto-apresentacao {
    height: 200px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #014f83;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    width: 5px;
    height: 50px;
    margin-right: 5px;
    background-color: #014f83;
    position: relative;
}